header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

/*header*/
 header {   
    border-radius: 15px 15px 0 0;
}

.btn-danger {
    background-color: rgba(204, 3, 35, 0.5);
    color: goldenrod;
    border: 2px solid black;
}

/*footer*/
footer {
    border-radius: 0 0 15px 15px;
    height: 6em;
}

.btn > p {
    font-size: 0.8em;
}

.email {
    font-size: 1.2em;
    color: black;
    /* font-variant: small-caps; */
}

/*main*/
.left {
    margin: 5px 15px 0 5px;
}

.right {
    margin: 5px 5px 0;
    /* border: 1px solid goldenrod;
    border-radius: 0 0 15px 15px; */
}

.border {
    border-radius: 0 0 15px 15px; 
    border-color: goldenrod !important;
}

.farGalaxy {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.6;
    text-align: justify;
}

.bottomRight {
    border-bottom-right-radius: 15px;
}

.bottomLeft {
    border-bottom-left-radius: 15px;
}

.float-start > img {
    box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

.images_block {
    width: 33%;
}

